{{ ocp4_idm_config_admin_user }}:{{ _ocp4_idm_config_admin_password_hash }}
{% for _user_name, _user_passwd_hash in ocp4_idm_config_users %}
{{ _user_name }}:{{ _user_passwd_hash }}
{% endfor %}
{% for i in range(t_user_count_start|int, t_user_count_start|int + t_user_count|int) %}
{{ ocp4_idm_config_user_base_name }}{{ i }}:{{ _ocp4_idm_config_user_password_hash }}
{% endfor %}
