---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ocs-operatorgroup
  namespace: {{ ocp4_workload_couchbase_cluster_namespace }}
spec:
  targetNamespaces:
  - {{ cocp4_workload_couchbase_cluster_namespace }}
