apiVersion: v1
kind: Secret
metadata:
  name: "system-smtp"
  namespace: "{{ three_scale_multitenant_api_manager_ns }}"
  labels:
    app: 3scale-api-management
    threescale_component: system
    threescale_component_element: smtp
type: Opaque
stringData:
  address: "{{ three_scale_multitenant_smtp_host }}"
  authentication: "{{ three_scale_multitenant_smtp_authentication }}"
  domain: "{{ three_scale_multitenant_smtp_domain}}"
  openssl.verify.mode: 'false'
  password: "{{ three_scale_multitenant_smtp_passwd }}"
  port: "{{ three_scale_multitenant_smtp_port }}"
  username: "{{ three_scale_multitenant_smtp_userid }}"
